body {
  font: 2rem 'quasimoda', sans-serif;
  color: #fff;
  background-color: #BBA9FF;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: sticky;
  background-color: #953FFC;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a:hover {
  color: #000;
}

h1 {
  font-size: 2rem;
  margin: 1rem 1rem .1rem 1rem;
}

p {
  margin: 1rem 5rem 1rem;
}

img {
  height: 30rem;
  margin: 1rem .1rem;
}
